


<section class=" min-vh-100 bg-warning d-flex justify-content-center align-items-center " >
   <div class="container">
    <app-star [text]=" 'ABOUT MY FRIST PROJECT'"  ></app-star>
    <div class="row py-4 g-4 ">
        <div class=" col-sm-12 col-md-6">
            <div class="abut-content">
                <p class="fw-bold ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum ratione recusandae fugit velit deserunt voluptatibus. Quod est culpa consequatur. Hic maiores a animi voluptatum saepe accusamus ipsum nesciunt, quam obcaecati!</p>
            </div>
        </div>
        
        <div class=" col-sm-12 col-md-6">
            <div class="abut-content">
                <p class="fw-bold ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum ratione recusandae fugit velit deserunt voluptatibus. Quod est culpa consequatur. Hic maiores a animi voluptatum saepe accusamus ipsum nesciunt, quam obcaecati!</p>
            </div>
        </div>
        
    </div>
   </div>
    

</section>
